.wrapper-de {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    padding: 0 3rem;
    border-radius: 5px;
    background-color: rgb(223, 73, 73);
}

h4 {
    text-align: center;
}

p {
    width: 40px;
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 0;
    border: 3px solid #000;
    border-radius: 8px;
    text-align: center;
    color: #000;
}

.de-resultat {
    color: #fff;
    background: #000;
}